html {

    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;


  }

  main {

      flex-grow: 1;
      background: url("backgroungimage.jpg");
      background-position: center;
      background-size: cover;
      height: 100%;
  }
  
  header {
      text-align: center;
      background-color: blue;
      padding: 15px;
      min-height: 40px;
      
  }

  header .logo{
    font-size: 30px;
    font-family: 'pacifico', cursive; 
    color: white;
    position: absolute;
    left: calc(50% - 35px);
  }

  .header-actions {
    float: right;
    margin-top: 12px;
  }

  header a {
    color: white;
    text-decoration:none;
  }

   .header-actions .fas {
    margin-right: 10px;
   }

  .loging-box {

      border: 1px solid grey;
      width: 400px;
      padding: 20px;
      text-align: center;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      box-sizing: border-box;
      

  }

.loging-box {
      max-width: 500px;

}



  .login-box-container {

      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      

  }

  input[type=text], input[type=password], input[type=email] {
         padding: 10px;
         border-radius: 5px;
         border: 1px solid grey;
         width: 80%;
         margin-bottom: 10px;

  }

  .primary-button {
    color: white;
    background-color: blue;
    padding: 10px 20px;

  }

  .login-button {
     margin: auto;
     display: block;

  }

  .loging-box h1 {
   text-align: center;
  }

  .login-button a {
    font-weight: bold;

  }

  /* Home */
  .home-main {

    justify-content: center;
    display: flex;
  }
  
  
  .timeline-container {
      background-color: white;
      width: 100%;
      max-width: 800px;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
  }

  .chatters-feed {
      flex-grow: 4;
      border-right: 1px solid lightgrey;

  }


  .recent-users-feed {
     flex-grow: 1;
     padding-left: 20px;

  }

  .primary-button {
    background-color: blue;
    border: .5px solid none;
    border-radius: 10px;
    color: #fff;
    padding: 8px;
    box-shadow: 0 0 30px 0  blue,
                0 0 30px 0 blue,
                0 0 10px 0 blue;

  }

  .secondary-button {
    background-color: blue;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
  }

  .new-button {
    background-color: #400102;
    color: white;
    padding: 10px;
    text-decoration: none;
  }

  .dodo {

    flex-grow: none;
  }

 

 

  /* chatter */

  .chatter {
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 25px;
    padding-bottom: 10px;

  }

  .chatter .profile-pic {
    font-size: 50px;
    margin-right: 20px;
  }

  .chatter p {
    margin-top: 0;
    font-size: 18px;
  }

  .chatter .metadata {
  font-size: 14px;
  color: grey;
  }

  .chatter:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

/* new users */

  .new-user {
    display: flex;
    align-items: center;
  
 }

 .new-user .profile-pic{
  font-size: 30px;
  margin-right: 20px;

 }

 .new-user p {
  margin-top: 0px 0px 5px opx;
 }




.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* post page */

.post-container {
  width: 100%;
  max-width: 500px;
  
}

.post-main {
  display: flex;
  justify-content: center;
  align-items: center;

}

.post-container textarea {
  width: 100%;
  height: 120px;
 
}

/* profile page */

/*.profile-main {
  width: 500px;
  margin: auto;
} */

.profile-main .user-profile-pic {
  font-size: 200px;
  color: white;
  margin: 30px 0;
}

.profile-main .chatters-feed {
  background-color: white;
  text-align: left;
  padding: 20px;
  min-width: 500px;

  }

 .profile-view {
  width: 100%;
  max-width: 500px;
  margin: auto;
  
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .profile-view .secondary-button {
  display: block;
  margin-bottom: 20px;
 }








